Bin/centos5/gcc4_4/release32/libociei.so filter=lfs diff=lfs merge=lfs -text
Tests/TestDefinitions/API/ResultSets/12c/T-FULL-API-12.205(AllNullParameters)-2.xml filter=lfs diff=lfs merge=lfs -text
Tests/TestDefinitions/API/ResultSets/18c/T-FULL-API-12.205(AllNullParameters)-2.xml filter=lfs diff=lfs merge=lfs -text
Tests/TestDefinitions/API/ResultSets/19c/T-FULL-API-12.205(AllNullParameters)-2.xml filter=lfs diff=lfs merge=lfs -text
src/Bin/w2016/vs2022/debug64mt/OracleODBC_sb64.pdb filter=lfs diff=lfs merge=lfs -text
src/Bin/w2016/vs2022/debug64mt/oraociei19.dll filter=lfs diff=lfs merge=lfs -text
src/Bin/w2016/vs2022/release64mt/OracleODBC_sb64.pdb filter=lfs diff=lfs merge=lfs -text
src/Build/ThirdParty/OracleOCI/Linux_x86/lib/libociei.so filter=lfs diff=lfs merge=lfs -text
src/Build/ThirdParty/OracleOCI/Linux_x8664/lib/libociei.so filter=lfs diff=lfs merge=lfs -text
src/Build/ThirdParty/OracleOCI/VS2010_32/lib/oraociei11.dll filter=lfs diff=lfs merge=lfs -text
src/Build/ThirdParty/OracleOCI/VS2010_64/lib/oraociei11.dll filter=lfs diff=lfs merge=lfs -text
src/Tests/TestDefinitions/API/ResultSets/12c/T-FULL-API-12.205(AllNullParameters)-2.xml filter=lfs diff=lfs merge=lfs -text
src/Tests/TestDefinitions/API/ResultSets/12c/t18656t5244t22070.tmp filter=lfs diff=lfs merge=lfs -text
src/Tests/TestDefinitions/API/ResultSets/18c/T-FULL-API-12.205(AllNullParameters)-2.xml filter=lfs diff=lfs merge=lfs -text
src/Tests/TestDefinitions/API/ResultSets/18c/t18656t800t22051.tmp filter=lfs diff=lfs merge=lfs -text
src/Tests/TestDefinitions/API/ResultSets/19c/T-FULL-API-12.205(AllNullParameters)-2.xml filter=lfs diff=lfs merge=lfs -text
src/Tests/TestDefinitions/API/ResultSets/ADW/T-FULL-API-12.205(AllNullParameters)-2.xml filter=lfs diff=lfs merge=lfs -text
src/Tests/TestDefinitions/API/ResultSets/ADW/T-FULL-API-12.212(AllNullParameters)-5.xml filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
Build/ThirdParty/OracleOCI/Linux_x86/lib/libociei.so filter=lfs diff=lfs merge=lfs -text
Build/ThirdParty/OracleOCI/Linux_x8664/lib/libociei.so filter=lfs diff=lfs merge=lfs -text
Build/ThirdParty/OracleOCI/VS2010_32/lib/oraociei11.dll filter=lfs diff=lfs merge=lfs -text
Build/ThirdParty/OracleOCI/VS2010_64/lib/oraociei11.dll filter=lfs diff=lfs merge=lfs -text
Tests/TestDefinitions/API/ResultSets/12c/t18656t5244t22070.tmp filter=lfs diff=lfs merge=lfs -text
Tests/TestDefinitions/API/ResultSets/18c/t18656t800t22051.tmp filter=lfs diff=lfs merge=lfs -text
Tests/TestDefinitions/API/ResultSets/ADW/T-FULL-API-12.205(AllNullParameters)-2.xml filter=lfs diff=lfs merge=lfs -text
Tests/TestDefinitions/API/ResultSets/ADW/T-FULL-API-12.212(AllNullParameters)-5.xml filter=lfs diff=lfs merge=lfs -text
src/Bin/w2016/vs2022/release64mt/oraociei19.dll filter=lfs diff=lfs merge=lfs -text
Build/ThirdParty/OracleOCI/VS2012_32/lib/oraociei11.dll filter=lfs diff=lfs merge=lfs -text
Build/ThirdParty/OracleOCI/VS2012_64/lib/oraociei11.dll filter=lfs diff=lfs merge=lfs -text
src/Build/ThirdParty/OracleOCI/VS2012_32/lib/oraociei11.dll filter=lfs diff=lfs merge=lfs -text
src/Build/ThirdParty/OracleOCI/VS2012_64/lib/oraociei11.dll filter=lfs diff=lfs merge=lfs -text
* filter=lfs diff=lfs merge=lfs -text
